language: java

jdk:
- oraclejdk8

services:
  - mysql

before_install:
  - mysql -e 'CREATE DATABASE `jtoolMysql2`;USE `jtoolMysql2`;CREATE TABLE `people` (`id` int(11) NOT NULL AUTO_INCREMENT,`name` varchar(45) NOT NULL,PRIMARY KEY (`id`)) ENGINE=InnoDB DEFAULT CHARSET=utf8;CREATE TABLE `users` (`id` int(11) NOT NULL AUTO_INCREMENT,`name` varchar(45) NOT NULL,`age` int(11) NOT NULL,`birthday` datetime DEFAULT NULL,`height` double DEFAULT NULL,PRIMARY KEY (`id`)) ENGINE=InnoDB DEFAULT CHARSET=utf8;'

after_success:
- mvn clean cobertura:cobertura coveralls:report
